* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  --bg-color: rgb(236, 155, 248);
  --card-bg-color: rgb(130, 117, 206);
  --background-image: url(./earthmap.jpg);
}
html[data-value="dark"] {
  --bg-color: rgb(114, 3, 131);
  --card-bg-color: rgb(36, 32, 59);
  --text-color: white;
  --background-image: url(./earth.png);
  transition: all 1s linear;
}
body {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.5s linear;
}
.card {
  width: 35%;
  background-color: var(--card-bg-color);
  border-radius: 20px;
  /* height: 40%; */
  transition: background-color 0.5s linear;
}
.inner-wrap {
  display: flex;
  padding: 2em;
}
svg {
  width: 20px;
  height: 20px;
}
.world {
  margin-top: 2.5em;
  width: 5rem;
  height: 5rem;
}
.toggle-button {
  height: 1.9rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
label {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding: 0.2em 0.5em;
  background-color: pink;
  width: 60px;
  border-radius: 100px;
  float: right;
}
.right-side {
  width: 30%;
}
.ball {
  position: absolute;
  z-index: 2;
  background-color: black;
  border-radius: 100px;
  width: 21px;
  height: 21px;
  transition: transform 0.2s linear;
}
input {
  display: none;
}
input:checked ~ label > .ball {
  transform: translateX(24px);
}
h1 {
  font-size: 2rem;
}
p {
  margin-top: 2em;
  text-align: left;
}
h1,
p {
  width: 100%;
  color: var(--text-color);
  transition: color 0.5s linear;
}
#earth {
  width: 8vw;
  height: 8vw;
  margin: 1em;
  margin-top: 4em;
  background: var(--background-image);
  box-shadow: inset 16px 0 40px 3px black,
    inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background-size: 230px;
  animation: rotate 4s infinite linear;
}
@keyframes rotate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 230px;
  }
}
@media (max-width: 900px) {
  .card {
    width: 70%;
  }
  #earth {
    width: 15vw;
    height: 15vw;
  }
}
@media (max-width: 450px) {
  .inner-wrap {
    flex-direction: column;
    padding: 1em;
  }
  .toggle-button {
    justify-content: center;
  }
  #earth {
    width: 25vw;
    height: 25vw;
    margin: 2rem auto 2em;
  }
  .right-side {
    order: 1;
    width: 100%;
  }
  .info {
    order: 2;
  }
  h1 {
    font-size: 1.5em;
  }
  h1,
  p {
    text-align: center;
  }
}
